.carousel-text {
    position: absolute;
    top: 89%;
    left: 18%;
    transform: translate(-50%, -50%);
    z-index: 10; /* Asegura que el texto esté encima de las imágenes */
    color: white; /* Ajusta el color del texto para que sea visible */
    font-size: 2rem; /* Ajusta el tamaño según sea necesario */
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Agrega sombra para mejor visibilidad */
    text-align: center;
    width: 30%; /* Asegura que el texto esté centrado correctamente */
    height: 30%; /* Acá hay que modificar para el media querys */
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
  }
  
  .carousel-inner {
    position: relative; /* Asegura que el texto absoluto se coloque dentro del contenedor del carrusel */
    height: 600px;
    overflow: hidden;
    object-fit: contain;
  }

.carousel-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen sin distorsionar la relación de aspecto */
}

.fotoCarrusel {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen sin distorsionar la relación de aspecto */
  
}


  .mujer{
    display: inline-flex;
    justify-content: center;
    width: 400px;
    height: 400px;
    position: relative;
    margin-top: 20%;
    left: 15%;
    border-radius: 25px;
    
  }
  .img2{
    display: inline-flex;
    justify-content: center;
    width: 400px;
    height: 400px;
    position: relative;
    margin-top: -5%;
    right: -60%;
    border-radius: 25px;
  }

  .textoPortada {
    display: box;
    justify-content: center;
    align-content: center;
    width: 600px;
    height: 200px;
    position: relative;
    margin-top: -30%;
    right: -50%;
    border-radius: 25px;
  }

  .textoPortada2 {
    display: box;
    justify-content: center;
    align-content: center;
    width: 600px;
    height: 200px;
    position: relative;
    margin-top: 25%;
    right: -15%;
    border-radius: 25px;
  }